<% content_for :page_title,  "Index" %>

<div class="section">
	<div class="container">
		<% @blogs.each do |blog| %>
			<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4"><%= link_to blog.title, blog_path(blog)  %></p>
		      </div>
		    </div>
		    <div class="content">
		     	<%= blog.content %>
		    </div>
		    <div class="comment-count">
		    	<span class="tag is-rounded"><%= blog.comments.count %> comments</span>
		    </div>
		  </div>
		</div>
		<% end %>
	</div>
</div>